<svg class="service-icon" id="abstract" width="132px" height="132px" viewBox="0 0 132 132" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<title>icon-Abstract</title>
		<g id="icon-abstract" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<path d="M109.081862,57.0149551 C109.683715,59.9156204 110,62.9208741 110,66 C110,90.300529 90.300529,110 66,110 C62.9208741,110 59.9156204,109.683715 57.0149551,109.081862 L109.081862,57.0149551 Z M100.336059,38.4831915 C102.39438,41.0482982 104.171199,43.8489751 105.619654,46.8383587 L46.8383587,105.619654 C43.8489751,104.171199 41.0482982,102.39438 38.4831915,100.336059 L100.336059,38.4831915 Z M85.161584,26.3803181 C88.1509707,27.828769 90.9516509,29.605585 93.5167612,31.6639027 L31.6639027,93.5167612 C29.605585,90.9516509 27.828769,88.1509707 26.3803181,85.161584 L85.161584,26.3803181 Z M22,66 C22,41.699471 41.699471,22 66,22 C69.0791009,22 72.0843308,22.3162794 74.9849742,22.9181229 L22.9181229,74.9849742 C22.3162794,72.0843308 22,69.0791009 22,66 Z" id="Shape-Copy-2" fill="#006FFF" fill-rule="nonzero"></path>
		</g>
</svg>
