@import 'variables';
/* freelancer.css */


/* Typography  */
@import 'typography';

/* refacter this next part to be on the freelancer namespace instead of be the default. */
body {
	background-color:#0D081D;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
main {
	background-color: none;
}

/* Really Cool Knight Graphic */
.ostentatious-font { /* Used for the logo in the header. */
	font-family: 'MDPrimer', -apple-system, Helvetica, Arial, sans-serif;
	font-weight: 800;
	font-size: 17rem;
	line-height: 1em;
	letter-spacing:-0.06em;
	color: var(--action-color);
	margin:0;
	position: absolute;
	top: calc(50% - 0.5em);
	left:0;
	right:0;
	width: auto;
	height: 1em;
	margin-left:-0.1em;
}

.row.horsey {
	overflow:hidden;
}

.ostentatious-font-container {
	overflow: hidden;
	position: absolute;
	margin:0;
	top: 50%;
	margin-top:-3.5em;
	left:0;
	width: 200vw;
	max-width: 200vw;
	height: 12rem;
	z-index: -1000;
	left: 50%;
	margin-left: -100%;
}

.knight {
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
}

.flavor-text-1 {
	background: url("/images/to-fight-thine-type-image-white.svg");
	background-position: center center;
	background-size:contain;
	background-repeat:no-repeat;
	text-indent: -10000px;
	text-color: transparent;
	font-size: 0px;
	display:block;
	position: relative;
	height: 125px;
	width:100%;
	max-width: 626px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:-2rem;
}
.flavor-text-2 {
	background: url("/images/a-sellsword-type-image-white.svg");
	background-position: center center;
	background-size:contain;
	background-repeat:no-repeat;
	text-indent: -10000px;
	text-color: transparent;
	font-size: 0px;
	display:block;
	position: relative;
	height: 190px;
	width:100%;
	max-width: 442px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-2rem;
}

.flavor-text-1, .flavor-text-2 {
	-webkit-transition: transform 0.3s 0s ease;
	-moz-transition: transform 0.3s 0s ease;
	-o-transition: transform 0.3s 0s ease;
	transition: transform 0.3s 0s ease;
}
@media (max-width: 800px) {
	.flavor-text-1, .flavor-text-2 {
		transform: scale(0.75);
	}
}
@media (min-width: 1300px) {
	.flavor-text-1, .flavor-text-2 {
		transform: scale(1.25);
	}
}



/* Components */

.button {
	display:inline-block;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	line-height: 2.75rem;
	height: 2.75rem;
	font-size: 1.5rem;
	color: white;
	width: auto;
	font-family: 'MDSystem', -apple-system, Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-decoration:none;
	background: var(--action-color);
	border-radius: 22px;
	min-width: 12rem;
	margin-top:1rem;
	margin-bottom:1rem;
	box-sizing: border-box;
}
.special-ordered-list {
	/* padding-left: 6.25rem; */
	padding: 0;
	margin: 0;
	list-style: none;
}
.special-ordered-list li {
	margin-bottom: 1.5rem;
	padding-left: 6.25rem;
}
.special-ordered-list li:before {
	content: '';
	color:var(--action-color);
	font-weight: 600;
	font-size: 3.75rem;
	font-family: 'MDPrimer', -apple-system, Helvetica, Arial, sans-serif;
	display: block;
	position:relative;
	text-align: left;
	width: 6.25rem;
	transform: translateX(-6.25rem) translateY(2.5rem);
}

.special-ordered-list li:nth-child(1):before {
	content: '1.';
}

.special-ordered-list li:nth-child(2):before {
	content: '2.';
}

.special-ordered-list li:nth-child(3):before {
	content: '3.';
}

.special-ordered-list li:nth-child(4):before {
	content: '4.';
}

.patterned-row {
	display:flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
}

.logo-thing {
	display:block;
	width:200px;
	height:200px;
	background-image: url("/images/logo.png");
	background-image: url("/images/logo-original.png");
	background-size: 200px 200px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: transform 0.1s 0s ease;
	-moz-transition: transform 0.1s 0s ease;
	-o-transition: transform 0.1s 0s ease;
	transition: transform 0.1s 0s ease;
	margin-bottom: -10rem;
}

.withered { /* for text that is not all there. */
	opacity: 0.8;
}

/* Card Container */
.card-container {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
	margin: 10rem 0;
}
.price-card {
	display:block;
	width: 100%;
	max-width:360px;
	height:auto;
	min-height:500px;
	box-sizing:border-box;
	padding:2.5rem;
	border-radius:2.5rem;
	background-color: var(--stone-color);
}
.price-card h2, .price-card p {
	color: black;
	color: var(--silver-color);
	font-size:1.25rem;
}
.price-card h2 {
	font-size:3rem;
	line-height:1em;
}
.price-card p.price {
	font-family: 'ManifoldCF', 'MDPrimer', -apple-system, Helvetica, Arial, sans-serif;
	font-weight: 800;
	font-size: 2rem;
	line-height: 2rem;
	text-align:center;
	margin-bottom:0;
}
.price-card p.price span {
	font-size: 1rem;
	font-weight: 500;
}
.price-card p.price-subtext {
	font-size: 1rem;
	line-height: 1rem;
	text-align: center;
	opacity: 0.7;
	margin-top:-0.25rem;
}
.price-card .button {
	display:block;
	margin: 4rem auto;
	text-align: center;
	color:black;
	font-weight: 500;
	/* font-size: 1.125rem; */
	font-size: 2rem;
	height: auto;
	line-height: 3.5rem;
	border-radius: 54px;
	transition: transform 0.13s ease-in-out, box-shadow 0.13s ease-in;
	transform: scale(1);
	box-shadow: 0px 0px 3px 0px var(--action-color);
}
.price-card .button:hover {
	transform: scale(1.11);
	box-shadow: 0px 0px 14px 0px var(--action-color);
}

/* price card info */
.price-card.outlined {
	background:transparent;
	border: solid 3px #8D9197;
	color: var(--silver-color);
}
body.reg-layout .price-card.outlined {
		border: solid 3px black;
		color: black;
}

.price-card.outlined p, .price-card.outlined h3 { color: var(--silver-color); }
body.reg-layout .price-card.outlined p, body.reg-layout .price-card.outlined h3 { color: black; }
.price-card.outlined h3 {
	font-size: 2rem;
	line-height:1em;
	font-family: 'MDPrimer', -apple-system, Helvetica, Arial, sans-serif;
}
.price-card.outlined p {
	font-size: 1rem;
	line-height:1.5em;
	font-family: 'MDSystem', -apple-system, Helvetica, Arial, sans-serif;
}

@media (min-width: 1201px) and (max-width: 1400px) {
	body.reg-layout .card-container {
		justify-content: space-around;
	}
	body.reg-layout .price-card {
		margin-bottom: 5rem;
	}
	body.reg-layout .price-card.outlined {
		max-width: 100%;
		display:flex;
		justify-content: space-between;
		gap: 5rem;
		min-height: auto;
	}
	body.reg-layout .price-card.outlined div {
		width: 50%;
	}
}

@media (max-width: 1200px) {
	.card-container {
		justify-content: space-around;
	}
	.price-card {
		margin-bottom: 5rem;
	}
	.price-card.outlined {
		max-width: 100%;
		display:flex;
		justify-content: space-between;
		gap: 5rem;
		min-height: auto;
	}
	.price-card.outlined div {
		width: 50%;
	}
}


@media (max-width: 800px) {
	.price-card.outlined {
		max-width: 360px;
		display:block;
	}
	.price-card.outlined div {
		width: initial;
	}

	/* Typography changes */
	.heading-one {
		font-size: 3rem;
		line-height: 3rem;
	}

	.heading-two {
		font-size: 2.25rem;
		line-height: 2.25rem;
	}
}

/* The White thing. */
.patterned-row .title-logo, .patterned-row .excerpt { /* Used for the logo in the header. */
	color: #0D081D; opacity: 1.0; z-index: 1000;
}

body.freelance-page > nav, body.freelance-page > header {
	display:none;
}
