@import 'variables';
@import 'structure';
@import 'freelancer';
@import 'typography';
@import 'components';

body {
  /* background: var(--body-background); */
  color: var(--silver-color);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0 ;
  font-size: 100%;
  line-height: 1.5;
}
body.reg-layout {
  background: var(--silver-color);
  color: black;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: var(--action-color);
}
a:hover {
  text-decoration:none;
}

/* Header specific styles */
body > header {
  /* margin: 1rem; */
  text-align: center;
  padding: 1rem 0rem;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  z-index:2000;
  width:100%;
  -webkit-transition: opacity 0.6s 0s ease;
  -moz-transition: opacity 0.6s 0s ease;
  -o-transition: opacity 0.6s 0s ease;
  transition: opacity 0.6s 0s ease;
  pointer-events: none;
  opacity: 0.0;
}
body > header.visible {
  pointer-events: all;
  opacity: 1.0;
}

body.reg-layout > header {
  position: relative;
  text-align:left;
  opacity:1.0;
  padding:1.25rem;
  pointer-events: all;
}
body.reg-layout > header  > .logo-font {
  text-align:left;
  font-size: 1.5rem;
  line-height: 1em;
}

@media (max-width: 600px) {
  header > .logo-font {
    display: none;
  }
}

body > header a.symbol-link {
  display: inline-block;
  position: absolute;
  left: 4rem;
  width:2rem;
  height:2rem;
  max-width: 2rem;
  pointer-events:all;
  background-size: 2rem 2rem;
  background-image: url("/images/logo-green.svg");
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration:none;
  text-indent:-5000px;
  color:transparent;
  font-size: 0px;
}
body.reg-layout > header a.symbol-link {
  display:block;
  position: relative;
  left: initial;
  width:4rem;
  height:4rem;
  max-width: 4rem;
  background-size: 4rem 4rem;
  background-image: url("/images/logo.png");
  /* -webkit-transition: transform 0.1s 0s ease;
  -moz-transition: transform 0.1s 0s ease;
  -o-transition: transform 0.1s 0s ease;
  transition: transform 0.1s 0s ease; */
  margin:0;
  margin-bottom: 0.625rem;
}

body > header img {
  display: inline-block;
  position: absolute;
  left: 4rem;
  width: 2rem;
  max-width: 2rem;
  pointer-events:none;
}

body.reg-layout > header img {
  position: relative;
  max-width: 4rem;
  left:initial;
}

/* Nav specific styles */
body > nav {
  display:none;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 0rem auto;
  max-width: 100%;
  min-height: calc(100vh - 200px);
  padding: 0;
  /* background: white; */
  /* box-shadow: 2px 3px 3px #ddd; */
  /* border-radius: 3px; */

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}
.reg-layout main {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 3.75rem;
  border-left: 2px solid black;
  min-height: 100vh;
  margin-left:initial;
  @media (max-width: 500px) {
    margin-top: auto;
    margin-left: auto;
    border:none
  }
  background-color:transparent;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
  height: auto;
  margin-bottom: 0;
  padding: 3.75rem;
}

.reg-layout footer {
  border-top: 2px solid black;
}

/* Links */
footer a {background:black; padding: 0.10rem 0.35rem; text-decoration: none;}
footer a:hover {color:black;background:var(--action-color); padding: 0.10rem 0.35rem; text-decoration: none;}
