/* The structure file */
.page { /* contains the whole page. Able to be replaced */
	display:flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
}

.row {
	display:flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
	align-items: center;
}
.row.vertically-padded { /* padded vertically */
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.row.tall-boy { /* At least as tall as the page. */
	/* min-height: 120vh; */
}

.row.darkened {
	background-color: #0D081D;
}

/* Giving sections flexbox columns*/
.columned {
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
@media (max-width: 900px) {
	.columned {
		flex-direction: column;
	}
}

/* Text-alignment and stuff */
.ta-left { text-align:left; }
.ta-right { text-align:right; }
.ta-center { text-align:center; }
.ta-justify { text-align:justify; }

/* typeface measure */
.really-wide { width: 100%; max-width: 80.25rem; } /* 1284px - Add an 80px padding here. */
.full-measure { width: 100%; max-width: 61.25rem; } /* 980px */
.half-measure { width: 100%; max-width: 61.25rem; } /* 490px */
.wide-measure { width: 100%; max-width: 40rem; } /* 640px */
.measure { width: 100%; max-width: 32.5rem; } /* 520px */
.narrow-measure { width: 100%; max-width: 20rem; } /* 320px */

/* Give sections padding */
.padded-section {
	padding: 5rem;
	box-sizing:border-box;
}


@media (max-width: 800px) {
	.padded-section {
		padding: 2rem;
	}
}
