/* variables.css */

:root {
	--body-background: black;
	--body-color: black;
	--p3-body-color: black;
	--heading-color: black;
	--action-color: #C5F13F;
	--p3-action-color: color(display-p3 0.772 0.945 0.247 / 1);
	--silver-color: #E7E7E7;
	--p3-silver-color: color(display-p3 0.905 0.905 0.905 / 1);
}
