<svg id="menu-chevron" width="45px" height="16px" viewBox="0 0 45 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<title>chevron</title>
		<g id="chevron" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" >
				<path d="M44.2502776,1.29903811 C44.6644158,2.01661214 44.4187519,2.93403429 43.7014443,3.34863394 L24.009026,14.7307387 C23.0804831,15.2674312 21.9360653,15.2676147 21.0073503,14.7312199 L1.29879625,3.34821754 C0.581423145,2.9338868 0.335623059,2.0165448 0.749722428,1.29903811 C1.1636496,0.581829779 2.0806161,0.335971825 2.79782442,0.749898996 C2.79796358,0.749979311 2.79810273,0.750059649 2.79824187,0.750140009 L20.9992746,11.2624239 C21.9276781,11.7986374 23.0716662,11.7986452 24.0000769,11.2624443 L42.2017479,0.750122324 C42.9188385,0.335968728 43.8358932,0.58154771 44.2500468,1.29863833 C44.2501237,1.29877158 44.2502007,1.29890484 44.2502776,1.29903811 Z" id="pathypath" fill="#000000"></path>
		</g>
</svg>
