<footer class="item-footer">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
    <li><a id="action-say-hello" href="mailto:{{ metadata.email }}">Contact</a></li>
  </ul>
</footer>
