
<div class="pricing-toggle-container">
	<button id="choose-monthly" class="toggle">Monthly</button>
	<button id="choose-quarterly" class="toggle inactive">Quarterly</button>
</div>

<div class="card-container">
	<div class="swapper">
		<div id="monthly-card" class="price-card">
			<div>
				<!-- <h2 class="ta-center ">Monthly</h2> -->
				<p class="price">$7,499/<span>month</span></p>
				<p class="price-subtext">Cancel Anytime</p>
			</div>
			<div class="chin">
				<p><strong>50</strong> hours of hyper focus on your projects each month.<br>
				iOS, Ruby, or Web.</p>
				<a target="_blank" href="https://buy.stripe.com/fZe02nbIT6ko63edQQ" class="button" id="action-buy-a-retainer-monthly">Start Building</a>
			</div>
		</div>
		<div id="quarterly-card" class="price-card faded">
			<div>
				<!-- <h2 class="ta-center ">Quarterly</h2> -->
				<p class="price">$6,499/<span>month</span></p>
				<p class="price-subtext">Cancel Anytime</p>
			</div>
			<div class="chin">
				<p><strong>50</strong> hours of hyper focus on your projects each month.<br> iOS, Ruby, or Web.<br><strong>$1000 per month savings</strong></p>
				<a target="_blank" href="https://buy.stripe.com/8wM5mH4greQU63e7st" class="button" id="action-buy-a-retainer-quarterly">Start Building</a>
			</div>
		</div>
	</div>

	<div class="price-card outlined">
		<div>
			<h3 class="ta-center withered">Per Project</h3>
			<p class="withered">Have a limited engagement?<br>
			Subscribe to a monthly Retainer then cancel, it's that easy.</p>
		</div>
		<div>
			<h3 class="ta-center withered">Rush</h3>
			<p class="withered">Need something done quicker than quick? We sell extra time in chunks of 10 hours. $1,000 a block.</p>
			<p class="withered">Predictable, simple pricing.</p>
		</div>
	</div>
</div>
