
<div class="card-container">
	<div class="swapper">
		<div id="monthly-card" class="price-card">
			<div>
				<!-- <h2 class="ta-center ">Monthly</h2> -->
				<p class="price" id="price-text">$7,499/<span>month</span></p>
				<p class="price-subtext">Cancel Anytime</p>
			</div>
			<div class="chin">
				<p id="pricing-message"><strong>50</strong> hours dedicated to your projects monthly.<br>
				iOS, Ruby, and Web.</p>
				<a target="_blank" href="https://buy.stripe.com/fZe02nbIT6ko63edQQ" class="button" id="action-buy-a-retainer-monthly">Start Building</a>
				<a target="_blank" href="https://buy.stripe.com/8wM5mH4greQU63e7st" class="button hidden" id="action-buy-a-retainer-quarterly">Start Building</a>
			</div>
			<div class="pricing-toggle-container">
				<button id="choose-monthly" class="toggle">Monthly</button>
				<button id="choose-quarterly" class="toggle inactive">Quarterly</button>
			</div>
		</div>
	</div>

	<div class="price-card outlined">
			<h3>Per Project</h3>
			<p>Have a limited engagement?<br>
			Subscribe to a monthly Retainer then cancel, it's that easy.</p>
			<h3>Need more time</h3>
			<p>Have a large project? is 50 hours in a month not gonna cut it. We sell extra time in chunks of 10 hours*.
				$1,000 a block.</p>
			<p><em>Predictable, simple pricing.</em></p>
	</div>
</div>
